body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NavBar */
header {position: fixed; top: 0; left:0; right: 0; background-color: white; height: 5%;}
header #content {margin: 1%}
header #logo {float: left}
header #logo a, header #log a, .inner a {text-decoration: none; color: black;}
header #log {float: right}
header #log .element {float:left; margin-right:10px;}